script
  :coffee(bare="false")
    data = [
      {
        pertanyaan: "Adakah sisi baik dari pemikiran biner?"
        kategori: "ideologi"
      }
      {
        pertanyaan: "Apa itu humanistik?"
        kategori: "psikologi"
      }
      {
        pertanyaan: "Di Palestina menggunakan bahasa Arab atau bahasa daerah?"
        kategori: "bahasa"
      }
      {
        pertanyaan: "Apakah sah shalat tapi niatnya tidak benar?"
        kategori: "ibadah"
      }
      {
        pertanyaan: "Seberapa besar pahala dari amalan?"
        kategori: "ibadah"
      }
      {
        pertanyaan: "Adakah negara tanpa malam?"
        kategori: "geografi"
      }
      {
        pertanyaan: "Bagaimana cara mengetahui kita berinvestasi di badan usaha halal atau haram?"
        kategori: "keuangan"
      }
      {
        pertanyaan: "Ilmu non-syariah kalau dipelajari dapat pahala?"
        kategori: "ibadah"
      }
      {
        pertanyaan: "Apa bahasa inggrisnya dia?"
        kategori: "bahasa"
      }
      {
        pertanyaan: "Negara miskin krisis ekonomi akan hancur?"
        kategori: "keuangan"
      }
      {
        pertanyaan: "Adakah negara yang krisis ekonomi lama?"
        kategori: "keuangan"
      }
      {
        pertanyaan: "Gimana kalau bertahun-tahun belum bayar utang puasa?"
        kategori: "ibadah"
      }
      {
        pertanyaan: "Apa itu kapitalis dan marxis?"
        kategori: "ideologi"
      }
      {
        pertanyaan: "Apa itu investasi?"
        kategori: "keuangan"
      }
      {
        pertanyaan: "Apa itu filsafat?"
        kategori: "ideologi"
      }
      {
        pertanyaan: "Kenapa Quran nggak bahasa Indonesia?"
        kategori: "bahasa"
      }
      {
        pertanyaan: "Apa itu sekuler?"
        kategori: "ideologi"
      }
    ]